// pallete
$blue: #84B6E6
$l-blue: #E4F7FF
$l-yellow: #FEF7DE
$yellow: #EEC776
$w-black: #423E3B
$c-black: #36393E
$n-black: #302C29
  
$space-black: linear-gradient(36deg, $w-black 9%, $n-black 39%, $c-black 91%)
$star-white: linear-gradient(90deg, $blue 0%, $l-blue 3%, $l-yellow 92%, $yellow 100%)
	
@mixin text-gradient( $parent, $gradient)
	#{$parent}
		background: $gradient
		color: transparent
		-webkit-background-clip: text
		background-clip: text
	

.App
	text-align: center
	color: $l-blue

	h1
		display: flex
		flex-direction: column
		justify-content: center
		height: 100vh
		margin: 0
		letter-spacing: 0.1em
		word-spacing: 100vw
		line-height: 2em
		font-size: 3em	
	@include text-gradient( $parent:span , $gradient:$star-white )

	.gallery
		margin: 0 auto
		display: flex
		flex-direction: column

#feed-end
	margin-bottom: 500px

@media screen and ( min-width: 768px)
	.App
		.gallery
			width: 80%

@media screen and ( min-width: 1024px)
	.App
		.gallery
			width: 60%

@media screen and ( min-width: 1440px)
	.App
		.gallery
			width: 30%